.cart {
  &__image {
    max-width: 173px;
    height: 173px;
    object-fit: cover;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.info {
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #000000;
  }
  &__description {
    font-size: 14px;
    color: rgb(136, 136, 136);
    line-height: 17px;
  }
  &__price {
    color: rgb(5, 5, 5);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  &__controls {
    display: flex;
    gap: 30px;
  }
  &__button {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    text-underline-offset: 2px;
  }
}

@media (max-width: 768px) {
  .cart {
    &__image {
      display: none;
    }
  }
  .info {
    &__title {
      font-size: 18px;
    }
    &__description {
      font-size: 14px;
    }
    &__price {
      font-size: 14px;
    }
    &__button {
      font-size: 14px;
    }
  }
}
